<div class="center hero-unit">
	<h1>Welcome to OMR Redheads!</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>
		You found the the homepage for the
		<%= link_to "OMR Redheads!", "http://onemonthrails.com" %>
	  application.
		</p>
	<p>
	  <%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>
	</p>
</div>